<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FIT - UTC - Tuyển sinh </title>
    <link rel="icon" href="/img/Logo-Dai-Hoc-Giao-Thong-Van-Tai-UTC.webp">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" type="text/css" href="/css/app.css">
    <link rel="stylesheet" type="text/css" href="/css/tuyensinh.css">
</head>
<body>
    <div class="app">
        
        {{> header}}

        <div class="container">
            {{{body}}}
        </div>   

        {{> footer}}

    </div>
    {{!-- Bootstrap --}}
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
    <script>
                // bấm img logo reload
        const header_img = document.querySelector('.header-img');
        const header_img_icon = header_img.querySelector('img');
        header_img_icon.addEventListener('click', function() {
            location.reload();
        });
        /* bars va menu-dow */
        const bt_bars = document.querySelector('.header-bars');
        const icon_bars = bt_bars.querySelector('i');
        const header_list_down = document.querySelector('.header-list-down');

        let menuIsOpen = false; // Biến kiểm tra trạng thái của menu

        const click_bt_bars = () => {
            if (menuIsOpen) {
                closeMenu();
            } else {
                openMenu();
            }
        };

        function openMenu() {
            icon_bars.className = 'fa-solid fa-xmark fa-2xl';
            header_list_down.style.display = 'flex';
            document.body.style.overflow = 'hidden';
            menuIsOpen = true;

            window.addEventListener('resize', handleResize);
        }

        function closeMenu() {
            icon_bars.className = 'fa-solid fa-bars fa-2xl';
            header_list_down.style.display = 'none';
            document.body.style.overflow = 'auto';
            menuIsOpen = false;

            window.removeEventListener('resize', handleResize);
        }

        function handleResize() {
            if (window.innerWidth > 980 && menuIsOpen) {
                closeMenu();
            }
        }

        bt_bars.addEventListener('click', click_bt_bars);
        // search

        document.querySelector('.header-search__icon i').addEventListener('click', function () {
            const searchQuery = `utc ` + document.querySelector('.header-search__input').value ;
            if (searchQuery) {
                const searchURL =`https://www.google.com/search?q=${encodeURIComponent(searchQuery)}`;
                window.open(searchURL, '_blank'); // _blank dùng để tạo tab mới
            }
        });
        
        // buttion Circle Up
        const btn_circle_up = document.querySelector(".btn-top");
        // ẩn hiện nút 
        window.onscroll = function() {
            if (document.body.scrollTop > 200 || document.documentElement.scrollTop > 200) {
                btn_circle_up.style.display = "block";
            } else {
                btn_circle_up.style.display = "none";
            }
        };
        // tra ve vi tri dau trang
        function scrollToTop() {
            document.body.scrollTop = 0; // For Safari
            document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE, and Opera
        }
        // lắng nghe sự kiện click
        btn_circle_up.addEventListener("click", scrollToTop);
        // Cuộn đến form
        function cuonDenViTriForm() {
            form.scrollIntoView({ behavior: "smooth" });
        }
    </script>
</body>
</html>