@import 'variables';

// reset 
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth; /* Cuộn mượt hơn */
    color: #ffff;
    font-size: 24px;
    line-height: 34px;
}

html, body {
    font-size: 62.5%;
    font-family: 'Open Sans', sans-serif;
    display: block;
    font-size: 1.6rem;
    font-weight: 500;
    width: 100%;
    height: 100%;
}

div {
    display: block;
}

a {
    text-decoration: none;
}

p{
    font-size: 15px;
}
li {
    list-style: none;
}
/* header */
header {
    background-color: $main-bg;
    display: flex;
    position: relative;
    flex-direction: row;
    padding: 15px 32px;
    justify-content: space-between;
    height: 100px;
    width: 100%;
    z-index: 999;
}

header a {
    font-weight: 600;
}

.header-img {
    max-width: 100%;
    height: auto;
}

.header-img img {
    max-width: 500px;
    position: relative;
    top: -6px;
}

.header-list {
    max-width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.header-list a{
    font-size: 20px;
    padding: 0px 8px;
}

.header-bars {
    max-width: 100%;
    height: auto;
    display: none;
}

.header-bars:hover {
    cursor: pointer;
}

.header-search {
    max-width: 100%;
    height: auto;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 8px;
    justify-content: center;
}

.header-search input {
    border-radius: 8px 0 0 8px;
    position: relative;
    width: 240px;
    padding: 6px 20px;
    outline: none;
    border: none;
    font-size: 1.4rem;
    z-index: 999;
    color: black;
}

.header-search input[type="text"] {
    font-size: 12px;
    padding: 1px 20px;
    color: black;
}

.header-search__icon {
    background-color: #012750   ;
    padding: 1px 16px;
    border-radius: 0 8px 8px 0;
    cursor: pointer;
}
.header-search__icon:hover{
    opacity: 0.4;
}

.open-it {
    opacity: 0.6;
}

.header-list a:hover{
    opacity: 0.6;
}

.header-list-down {
    display: none;
    position: absolute;
    top: 100px;
    left: 0;
    flex-direction: column;
    background-color: #8cbbd4;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
    padding-top: 50px;
    z-index: 999;
}

.header-list-down a{
    display: block;
    text-align: center;
    margin: 20px;
    padding: 20px 30px;
    width: 200px;
    background-color: $main-bg;
    border-radius: 20px;
    align-items: center;
}

.header-list-down a:hover {
    opacity: 0.6;
}
.header-img img:hover {
    cursor: pointer;
}
/* footer */
footer {
    background-color: $main-bg;
    padding: 15px 42px;
    overflow: hidden;
}
.contact {
    display: flex;
    flex-direction: column;
    height: auto;
}
.contact__it1 {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    
    padding: 10px 0;
}
.contact__it2 {
    display: flex;
    flex-direction: row;
    align-content: space-between;
   
    padding: 10px 0;
}
.contact__it3 {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    padding-bottom: 50px;
}
.hn {
    flex: 3;
}
.map-hn {
    padding-left: 80px;
    flex: 2;
}
.hcm {
    flex: 3;
}
.map-hcm {
    padding-left: 80px;
    flex: 2;
}
.contact p a {
    font-size: 14px;
}
.contact h6 {
    font-size: 16px;
}
.apputc {
    flex: 3;
}
.fl-utc {
    padding-left: 80px;
    flex: 2;
}
.fa-solid {
    padding-right: 10px;
}
/* bution top */
.btn-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 15px;
}

.btn-top:hover {
    cursor: pointer;
}