<div class="p1">
        <div class="p1__img">
            <img src="/img/bg-utc.png" alt="">
        </div>
        <div class="p1__welcome">
            <h1>WELCOME TO UNIVERSITY OF TRANSPORT AND COMMUNICATIONS</h1>
        </div>
    </div>

    <div class="p2">
        <div class="p2__inspired-text">
            <p>&nbsp; &nbsp; &nbsp;   Trường Đại học Giao thông vận tải hướng tới đào tạo người học trở thành công dân toàn cầu, có tinh thần dân tộc và trách nhiệm quốc tế. </p>
            <p>&nbsp; &nbsp; &nbsp;     Nhà trường áp dụng phương pháp giáo dục tích cực, học đi đôi với hành, kiến tạo môi trường giúp người học xây dựng và rèn luyện ý thức tự học suốt đời, khả năng thích ứng với mọi hoàn cảnh nhằm phát huy tốt nhất tiềm năng và khả năng sáng tạo. </p>
            <p>&nbsp; &nbsp; &nbsp;     Nhà trường xác định người học là trung tâm, người thầy truyền cảm hứng.</p>
        </div>
        <div class="p2__form">
            <div class="form">
                <h1>CÂU HỎI TUYỂN SINH</h1>
                <form action="/tuyensinh/form/sub" method="post" id="form_sub">
                    <h4 style="color: black;">ĐĂNG KÍ THÔNG TIN TUYỂN SINH</h4>
                    <div class="form__name">
                        <input type="text" value="" id="name" class="form-input" name="name">
                        <label for="name" id="lb-name" class="form-label">Họ và tên</label>
                    </div>
                    <div class="form__mail">
                        <input type="text" value="" id="mail" class="form-input" name="mail">
                        <label for="mail" id="lb-mail" class="form-label">Email</label>
                    </div>
                    <div class="form__phone">
                        <input type="text" value="" id="phone" class="form-input" name="phone">
                        <label for="phone" id="lb-phone" class="form-label">Điện thoại</label>
                    </div>
                    <div class="form__training">
                        <select name="training" id="training" class="form-input-hdt">
                            <option value="Đại học Chính quy (Hệ đại trà)">Đại học Chính quy (Hệ đại trà)</option>
                            <option value="Đại học Chính quy (Hệ đại chất lượng cao)">Đại học Chính quy (Hệ đại chất lượng cao)</option>
                        </select>
                        <label for="training" class="form-label-hdt">Hệ đào tạo</label>
                    </div>
                    <div class="form__message">
                        <textarea  style="position: relative;" class="form-input" name="form__messageInput" id="form__messageInput" cols="10" rows="6"></textarea>
                        <label for="form__messageInput" id="lb-form__messageInput" class="form-label">Message</label>
                    </div>
                    <button id="btn-submit" type="submit">Gửi</button>
                </form>
            </div>
        </div>
    </div>

    <div class="p4">
        <div class="p4-it">
            <div class="p4-it__nd">
                <h1>NGHÀNH ĐÀO TẠO</h1>
            </div>
            <div class="p4-it__solieu">
                <div class="p4-it__solieu-1">
                    <p>Công nghệ thông tin: 7480210</p>
                    <p>Công nghệ thông tin (CLC): 7480210QT</p>
                    <p>Khoa học máy tính: 7480101</p>
                </div>
                <div class="p4-it__solieu-2">
                    <p>Đào tạo theo mô hình tích hợp</p>
                    <p><span>Cử nhân 4 năm - Kỹ Sư 5 năm</span></p>
                </div>
            </div>
        </div>
        <div class="p4-it p4-it__2">
            <div class="p4-it__nd">
                <h1>CHỈ TIÊU TUYỂN SINH</h1>
            </div>
            <div class="p4-it__solieu">
                <div class="p4-it__solieu-1">
                    <p style="font-weight: 600;">Cơ sở Hà Nội</p>
                    <p> Công nghệ thông tin: <span>260 chỉ tiêu</span></p>
                    <p> Công nghệ thông tin (CLC): <span>100 chỉ tiêu</span></p>
                    <p> Khoa học máy tính: <span>70 chỉ tiêu</span></p>
                </div>
                <div class="p4-it__solieu-2">
                    <p style="font-weight: 600;">Phân hiệu Thành phố Hồ Chí Minh</p>
                    <p>Công nghệ thông tin: <span>90 chỉ tiêu</span></p>
                </div>
            </div>
        </div>
    </div>

    <div class="pt-tuyensinh">
        <div class="pt-tuyensinh__nd">
            <h3 class="pt-tuyensinh__nd__title" style="color: #1D376C; text-align: center;">CÁC PHƯƠNG THỨC XÉT TUYỂN</h3>
            <div class="pt-tuyensinh__nd__list" style="color: black;">
            Có 5 phương thức xét tuyển:
            </div>
        </div>
        <div class="pt-tuyensinh__list">
            <div class="pt-tuyensinh__list-item">
                <div class="method-item__title">
                    <a href="#">XÉT KẾT QUẢ THPT (HỌC BẠ)</a>                       
                </div>
                <p class="method-item__summary">Bạn có thể nộp học bạ ngay sau khi có kết quả học kỳ 1 của lớp 12 và chỉ mất 5 phút
    đăng ký tuyển sinh thông qua hình thức online. Bạn đã tốt nghiệp THPT các năm trước vẫn có
    thể xét học bạ nhé.</p>
                <div class="medthod-link-p">
                    <a class="medthod-link " href="javascript:void(0);" onclick="cuonDenViTriForm()">NỘP HỌC BẠ ONLINE</a>
                </div>
            </div>
            <div class="pt-tuyensinh__list-item">
                <div class="method-item__title">
                    <a href="#">XÉT TUYỂN THẲNG</a>                       
                </div>
                <p class="method-item__summary">Bạn là một cá nhân xuất sắc? Bạn đoạt nhiều giải thưởng cấp thành phố? Bạn có chứng
    chỉ tiếng Anh, Tin học, Văn bằng quốc tế? Không thể tuyệt vời hơn với cơ hội vào thẳng cùng
    những suất học bổng giá trị.</p>
                    <div class="medthod-link-p">
                        <a class="medthod-link" href="javascript:void(0);" onclick="cuonDenViTriForm()">ĐĂNG KÝ TƯ VẤN</a>
                    </div>
            </div>
            <div class="pt-tuyensinh__list-item">
                <div class="method-item__title">
                    <a href="#">XÉT KẾT QUẢ KỲ THI ĐÁNH GIÁ TƯ DUY CỦA ĐẠI HỌC BÁCH KHOA HÀ NỘI</a>                               </a>
                </div>
                <p class="method-item__summary">Hãy chọn nộp học bạ để chắc chắn có cơ hội vào UTC bạn nhé! Nếu bạn nào muốn thử sức ở
    kỳ thi đánh giá tư duy do Đại Học Bách Khoa Hà Nội tổ chức thì đây cũng là tấm vé “VIP” để có cơ
    hội vào UTC nữa đó.</p>
                <div class="medthod-link-p">
                    <a class="medthod-link" href="javascript:void(0);" onclick="cuonDenViTriForm()">ĐĂNG KÝ TƯ VẤN</a>
                </div>
            </div>
            <div class="pt-tuyensinh__list-item">
                <div class="method-item__title">
                    <a href="#">XÉT KẾT QUẢ KỲ THI TỐT NGHIỆP</a>
                </div>
                <p class="method-item__summary">Bạn cần điền chính xác thông tin Ngành và Trường Đại học Giao Thông Vận Tải
    (Mã trường: UTC) vào phiếu điền nguyện vọng hoặc trên cổng xét tuyển của Bộ GD&amp;ĐT. Hãy nhấp vào nút
    bên dưới để hiểu rõ các thông tin cần thiết nhé!</p>
                <div class="medthod-link-p">
                    <a class="medthod-link" href="javascript:void(0);" onclick="cuonDenViTriForm()">HƯỚNG DẪN CHI TIẾT</a>
                </div>
            </div>
            <div class="pt-tuyensinh__list-item">
                <div class="method-item__title">
                    <a href="">XÉT TUYỂN THẲNG THEO QUY ĐỊNH CỦA BỘ GD&amp;ĐT</a>
                </div>
                <p class="method-item__summary">Trường Đại học Giao Thông Vận Tải tuyển thẳng tất cả các thí sinh đủ điều kiện tuyển thẳng theo quy định của Bộ GD&amp;ĐT nữa đó các bạn nhé! Không chỉ thế, các bạn còn có cơ hội nhận học bổng khi dự tuyển chương trình học bổng của UTC.</p>
                <div class="medthod-link-p">
                    <a class="medthod-link" href="javascript:void(0);" onclick="cuonDenViTriForm()">ĐĂNG KÝ TƯ VẤN</a>
                </div>
            </div>
        </div>
    </div>
    
    <div class="p3">
        <div class="p3-it">
            <div class="p3__tittle">
                <h1>ĐỘI NGŨ GIẢNG VIÊN</h1>
                <p>30 giảng viên cơ hữu được đào tạo từ các trường Đại học uy tín trên Thế Giới và Việt Nam, trong đó có 2 phó giáo sư, 17 Tiến sĩ và 11 Thạc sĩ.</p>
            </div>
            <div class="p3__img">
                <img src="/img/olumpic.jpeg" alt="olympic tin hoc cap truong">
            </div>
        </div>
        <div class="p3-it p3-it__mid">
            <div class="p3__tittle">
                <h1>CƠ SỞ VẬT CHẤT</h1>
                <p>- Các phòng thí nghiệm riêng của khoa: 09 phòng máy với gần 500 máy tính cấu hình mạnh; 01 phòng thí nghiệm phát triển ứng dụng trên thiết bị di động.</p>
                <p>- Phòng thí nghiệm chung: các phòng máy tính, hệ thống mạng cấu hình do WB tài trợ</p>
            </div>
            <div class="p3__img">
                <img src="/img/phongmay.jpg" alt="phong may">
            </div>
        </div>
        <div class="p3-it">
            <div class="p3__tittle">
                <h1>CƠ HỘI NGHỀ NGHIỆP</h1>
                <p>- Tuỳ thuộc lựa chọn thời gian đào tạo sau khi tốt nghiệp, sinh viên sẽ nhận bằng Cử nhân hoặc Kỹ sư "công nghệ thông tin/Khoa học máy tính", có đủ kiến thức, kỹ năng đáp ứng nguồn nhân lực cho cuộc cách mạng công nghiệp 4.0, các vị trí có thể đảm nghiệp.</p>
                <p>- Một số đối tác: SAMSUNG SRV, VIETTEL Network, FPT Software, FPT Information Solution, FPT Telecom, Misa, CMC, Nashtech, ...</p>
            </div>
            <div class="p3__img">
                <img src="/img/hoptac_fpt.jpg" alt="olympic tin hoc cap truong">
            </div>
        </div>
    </div>

    <script>
        /* form */
        const form = document.querySelector('.form');
        const styleLabelInput = {
            top: '43px',
            color: '#999',
            transition: '0.25s ease',
            left: '21px',
            backgroundColor: '#ffff'
        };
        const styleLabelInputed = {
            top: '0%',
            color: '#00377a',
            transition: '0.25s ease',
            left: '21px',
            backgroundColor: '#e8f0fe'
        };
        const styleInput = {
            borderColor: 'black',
            color: 'black',
            backgroundColor: '#ffff',
        };
        const styleInputed = {
            borderColor: '#00377a',
            color: 'black',
            backgroundColor: '#e8f0fe',
        };

        const afterInputedData = (inputItem, labelItem) => {
            Object.assign(labelItem.style, styleLabelInputed);
            Object.assign(inputItem.style, styleInputed);
        };
        const beforeInputedData = (inputItem, labelItem) => {
            Object.assign(labelItem.style, styleLabelInput);
            Object.assign(inputItem.style, styleInput);
        };

        const varInput = ['name', 'mail', 'phone', 'form__messageInput'];

        let idClickBefore = undefined;

        const handleFocusInputForm = (id) => {
            const inputItem = form.querySelector(`#${id}`);
            const labelItem = form.querySelector(`#lb-${id}`);
            if (idClickBefore !== undefined) {
                const bfInputItem = form.querySelector(`#${idClickBefore}`);
                const bfLabelItem = form.querySelector(`#lb-${idClickBefore}`);
                if (bfInputItem.value.length === 0) {
                    beforeInputedData(bfInputItem, bfLabelItem);
                }
            } 
            afterInputedData(inputItem, labelItem);
        };
        varInput.forEach(it => {
            const input = form.querySelector(`#${it}`);
            if (input) {
                input.addEventListener('focus', () => {
                    handleFocusInputForm(it);
                    idClickBefore = it;
                });
            }
        });
            /* check form */
        const notifications = document.querySelector('.list-notification');
        const notification_success = notifications.querySelector('.success-notification');
        const notification_error = notifications.querySelector('.error-notification');
        form.addEventListener('submit', function (event) {
            event.preventDefault(); 

            const name = document.querySelector('#name').value;
            const mail = document.querySelector('#mail').value;
            const phone = document.querySelector('#phone').value;

            const checkName = /^[^0-9]+$/.test(name) && name.trim().includes(' ');
            const checkMail = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/.test(mail);
            const checkPhone = /^\+*[0-9]+$/.test(phone);

            console.log('submis click');
            if (checkName && checkMail && checkPhone) {
                notification_success.classList.add('show_mess');
                setTimeout(()=>{
                    notification_success.classList.remove('show_mess');
                }, 2000); 
                document.getElementById('form_sub').submit();
            } else {
                notification_error.classList.add('show_mess');
                setTimeout(()=>{
                    notification_error.classList.remove('show_mess');
                }, 2000); 
            }
        });
    </script>