<footer>
        <img src="/img/logofooter-gtvt.png" alt="logo-utc">
        <div class="contact">
            <div class="contact__it1">
                <div class="hn">
                    <p><i class="fa-solid fa-location-dot fa-sm"></i>Địa chỉ: Số 3 phố Cầu Giấy, P.Láng Thượng, Q.Đống Đa, Hà Nội.</p>
                    <p><i class="fa-solid fa-phone fa-sm"></i>Điện thoại: <a href="tel:(84.24) 37663311" style="color:#fff">84.24 37663311</a> - Fax: 84.24 37669613</p>
                    <p><i class="fa-solid fa-envelope fa-sm"></i>Email: <a href="mailto:dhgtvt@utc.edu.vn" style="color:#fff">dhgtvt@utc.edu.vn</a></p>
                </div>
                <div class="map-hn">
                    <h6>Trường Đại học Giao thông vận tải</h6>
                    <iframe allowfullscreen="" height="120" loading="lazy" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.1228608575834!2d105.80064111432421!3d21.02776948599887!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ab424a50fff9%3A0xbe3a7f3670c0a45f!2zVHLGsOG7nW5nIMSQ4bqhaSBo4buNYyBHaWFvIHRow7RuZyBW4bqtbiB04bqjaQ!5e0!3m2!1svi!2s!4v1539544397383" style="border-radius:25px;border:0;width:100%"></iframe>
                </div>
            </div>
            <div class="contact__it2">
                <div class="hcm">
                    <h6>PHÂN HIỆU TẠI THÀNH PHỐ HỒ CHÍ MINH</h6>
                    <p><i class="fa-solid fa-location-dot fa-sm"></i>Địa chỉ: 450-451 Đường Lê Văn Việt, Phường Tăng Nhơn Phú A, TP. Thủ Đức (Quận 9 cũ), TP. Hồ Chí Minh</p>
                    <p><i class="fa-solid fa-phone fa-sm"></i>Điện thoại: <a href="tel:(84.28) 38966798" style="color:#fff">84.28 38966798</a> - Fax: 84.28 38964736</p>
                    <p><i class="fa-solid fa-envelope fa-sm"></i>Email: <a href="mailto:info@utc2.edu.vn" style="color:#fff">info@utc2.edu.vn</a></p>
                    <p><i class="fa-solid fa-globe fa-sm"></i>Website: <a href="http://phanhieu.utc.edu.vn" title="PHÂN HIỆU TẠI THÀNH PHỐ HỒ CHÍ MINH" style="color:#fff">http://phanhieu.utc.edu.vn</a></p>
                </div>
                <div class="map-hcm">
                    <h6>Phân hiệu Hồ Chí Minh</h6>
                    <iframe allowfullscreen="" height="140" loading="lazy" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.548623005066!2d106.79235511526065!3d10.845813560873742!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317527158a0a5b81%3A0xf45c5d34ac580517!2zUEjDgk4gSEnhu4ZVIFRSxq_hu5xORyDEkEggR1RWVCBU4bqgSSBUUC4gSOG7kiBDSMONIE1JTkg!5e0!3m2!1svi!2s!4v1615861797127!5m2!1svi!2s" style="border-radius:25px;border:0;width:100%"></iframe>
                </div>
            </div>
            <div class="contact__it3">
                <div class="apputc">
                    <h6>App MyUTC</h6>
                    <div class="apputc__listapp">
                        <a class="app-item" href="https://apps.apple.com/vn/app/eutc/id6447959887?l=vi" title="Apple Store" style="padding: 20px;">
                            <span><i class="fab fa-apple app-icon"></i></span>
                            <span class="app-title" style="font-size: 16px;">Apple Store</span>
                        </a>
                        <a class="app-item" href="https://play.google.com/store/apps/details?id=vn.edu.utc.eutc&amp;hl=vi-VN" title="Google Play" style="padding: 20px;">
                            <span class="fab fa-google-play app-icon"></span>
                            <span class="app-title" style="font-size: 16px;">Google Play</span>
                        </a>
                    </div>
                </div>  
                <div class="fl-utc">
                    <h6>Theo dõi UTC</h6>
                    <div class="icon-contact">
                        <a href="https://www.facebook.com/dhgtvtcaugiay" class="fb" style="padding: 20px;"><i class="fa-brands fa-facebook"></i></a>
                        <a href="https://www.youtube.com/@UTC_Channel" class="ytb" style="padding-right: 20px;"><i class="fa-brands fa-youtube"></i></a>
                        <a href="mailto:dhgtvt@utc.edu.vn" class="mail"><i class="fa-solid fa-envelope"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <p style="text-align: center; background-color: #012750; padding-top: 30px;padding-bottom: 70px;"><a href="https://github.com/Youknow2509/btl_web" style="font-size: 14px;">@2023 Bản quyền thuộc Trường Đại học Giao thông vận tải (N8)</a></p>
    
    <div class="btn-top">
        <i class="fa-solid fa-circle-up fa-bounce fa-xl" style="color: #181818;"></i>    
    </div>