<header>
        <div class="header-img">
            <img src="/img/logo-utc.png" alt="logo-utc">
        </div>
        <div class="header-bars">
            <i class="fa-solid fa-bars fa-2xl"></i>
        </div>
        <div class="header-list">
            <a href="#" class="header-bars__trangchu">Trang chủ</a>
            <a href="#" class="header-bars__nghanhhoc open-it">Tuyển Sinh</a>
            <a href="#" class="header-bars__tuyensinh">Bộ Môn</a>
            <a href="#" class="header-bars__thamkhao">Tham Khảo</a>
        </div>
        <div class="list-notification">
            <div class="notification success-notification" id="success">
                <div class="icon_notification">
                    <i class="fa-solid fa-circle-check"></i>
                </div>
                <div class="mess-text">
                    <h3>Thành công</h3> 
                    <p>Bạn đã đăng kí nhận tư vấn thành công</p>
                </div>
            </div>
            <div class="notification error-notification" id="error">
                <div class="icon_notification">
                    <i class="fa-solid fa-circle-exclamation"></i>
                </div>
                <div class="mess-text">
                    <h3>Lỗi</h3> 
                    <p>Vui lòng nhập lại dữ liệu</p>
                </div>
            </div>
        </div>
        <div class="header-list-down">
            <a href="#" class="header-bars__trangchu">Trang chủ</a>
            <a href="#" class="header-bars__nghanhhoc open-it">Tuyển Sinh</a>
            <a href="#" class="header-bars__tuyensinh">Bộ Môn</a>
            <a href="#" class="header-bars__thamkhao">Tham Khảo</a>
        </div>
        <div class="header-search">
            <input type="text" class="header-search__input" placeholder="Tìm kiếm ...">
            <div class="header-search__icon">
                <i class="fa-solid fa-magnifying-glass fa-sm"></i>
            </div>
        </div>
    </header>