<div class="m-4">
    <h2>Dang khoa hoc</h2>
    <form method="post" action="/courses/store">
        <div class="mb-3">
            <label for="name" class="form-label">Ten khoa hoc: </label>
            <input type="text" class="form-control" id="name" name="name">
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Mo ta: </label>
            <input type="text" class="form-control" id="description" name="description">
        </div>
        <div class="mb-3">
            <label for="video" class="form-label">Videoid: </label>
            <input type="text" class="form-control" id="video" name="videoid">
        <div class="mb-3">
            <label for="level" class="form-label">Level: </label>
            <input type="text" class="form-control" id="level" name="level">
        </div>
        <button type="submit" class="btn btn-primary">Them khoa hoc</button>
    </form>
</div>